.conteiner {
    display: flex;
    flex-direction: column;
    width: 400px;
    /*height: 300px;*/
    border: solid 2px black;
    border-radius: 5px;
    row-gap: 10px;
    /*margin: 10px;*/

}
.A1 {
    background: silver;
    align-items: center;
    text-align: center;
    margin: 2px;


}
.B1 {
    background: silver;
    align-self: stretch ;
    width: 300px;
    height: 200px;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    margin: 2px;


}
.C1 {
    background: silver;
    width: 100px;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    margin: 2px;



}
.conteiner1 {
    display: flex;
    column-gap: 10px;
}