.bg_s {
    background: silver;
}
.container {
    height: 300px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}
.a1 {
    width: 100%;
}
.b1 {
    width: 80%;
}
.c1 {
    width: 18%;
}
.mrg {
    margin: 2px;
}
.disp_fl_centr {
    display: flex;
    align-items: center;
    justify-content: center;
}
.br5 {
    border-radius: 5px;
}

@media screen and (min-width: 0px) and (max-width: 450px) {
    .container {
        height: 200px;
        width: 150px;
        border: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .a1{
        height: 10%;
        width: 80%;
    }
    .b1 {
        width: 80%;
        height: 58%;
    }
    .c1 {
        width: 80%;
        height: 10%;
    }
}